body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(0, 0, 0), rgb(22, 23, 61), rgb(37, 1, 31));
}

.bg{
    margin-top: 16%;
}
.font1{
    text-align: center;
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.font2{
    text-align: center;
    font-size: 7vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}
.font3{
    margin-top: 2vh;
    text-align: center;
    font-size: 3vh;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.tombol button{
    margin-top: 2vh;
    background-color: rgb(174, 0, 255);
    width: 30%;
    height: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
    color: white;  
    font-weight: bold;
    border-radius: 30px;
    border-color: rgb(174, 0, 255);
}
.tombol button:hover{
    margin-top: 2vh;
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: auto;
    color: rgb(134, 2, 90);  
    font-weight: bold;
    border-radius: 30px;
}